.screen{
    width: 100%;
}
.header{
    height: 15vh;
    background-color: blue;
    margin: 0;
    color: white;
    font-size: 200%;
    font-weight: bold;
    padding: 1%;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.myCol-1{
    /* width: 70%; */
    float: left;
}
.myCol-2{
    /* width: 30%; */
    font-size: 15px;
    font-weight: 700;
    float: right;
    /* background-color: green; */
}
.online_count{
    /* background-color: aqua; */
    float: right;
    margin-right: 38px;
}
.row1{
    /* background-color: violet; */
}
.exit_btn {
    display: inline-block;
    border-radius: 4px;
    /* background-color: #3d405b; */
    background-color: red;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 10px;
    padding: 5px 0px;
    width: 100px;
    float: right;
    transition: all 0.5s;
    cursor: pointer;
    /* margin: 5px; */
    margin-bottom: 5px;
   }
   
   .exit_btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
   }
   
   .exit_btn span:after {
    content: '»';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
    font-size: 14px;
   }
   
   .exit_btn:hover span {
    padding-right: 15px;
    font-size: 14px;
   }
   
   .exit_btn:hover span:after {
    /* font-size: 12px; */
    opacity: 1;
    right: 0;
   }

.chat{
    /* background-color: skyblue; */
    height: 75vh;
    overflow-y: scroll;
    
    margin: 0;
}

.chatBubble{
    padding: 15px;
    /* border: 2px solid; */
    /* background-color: aliceblue; */
    display: flex;
    border-radius: 25px;
    animation: chat_animat 0.8s;
}

@keyframes chat_animat {
    0%{
        /* opacity: 0; */
        transform: scale(0.1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1.0);
        /* opacity: 1; */
    }
}

.chatcontainer{
    display: flex;
    margin: 10px;
}

.me{
    flex-direction: row-reverse;
}
.me .chatBubble{
    /* background-color: rgb(90, 131, 244); */
    background-color: black;
    color: white;
}

.other .chatBubble{
    background-color: #AAAAAA;
}

.inputs{
    position: fixed;
    margin: 5px;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.inputs input {
    padding: 10px 10px;
    flex-grow: 1;
    border-radius: 25px;
    border: none;
    background-color: #CCCCCC;
}
.inputs input:focus{
    border: none;
    border-color: aqua;
}
.inputs button{
    padding: 10px;
    width: 80px;
    margin-left: 5px;
    margin-right: 10px;
    border-radius: 25px;
}